# production
# whosscam.com {
#  tls whosscam@gmail.com
#  reverse_proxy /graphql* ws:8080
#  reverse_proxy web:3000
#}

# localhost
whosscam.com {
  tls /certs/whosscam.com.pem /certs/whosscam.com-key.pem

  reverse_proxy /graphql* ws:8080
  reverse_proxy web:3000
}
