node_modules/
**/node_modules/
.env
# .env.*
.next/
dist/
build/
out/
.DS_Store


apps/web/package-lock.json
apps/ws/package-lock.json
apps/ws/src/db/package-lock.json

packages/graphql-core/package-lock.json
packages/realtime/package-lock.json

/storage/*
!/storage/.gitkeep

RN/MyApp/node_modules