apps/web/node_modules
apps/web/packages-lock.json
apps/web/.next
apps/ws/node_modules
apps/ws/packages-lock.json

packages/graphql-core/node_modules
packages/graphql-core/packages-lock.json
packages/realtime/node_modules
packages/realtime/packages-lock.json

.env
.env.example

.git